{% extends 'base.html.twig' %}

{% block title %}Les Formations {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/index.css') }}">
{% endblock %}

{% block body %}

    <a class="new" href="{{ path('app_formations_new') }}">Crée une nouvelle formation</a>

    <h1 id="h1-formation">Les Formations disponibles :</h1>

    <div class="card-container">
        {% for formation in formations %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title">{{ formation.title }}</div>
                    <div class="card-details">
                        <p>
                            <strong>Résumé:</strong>
                            {{ formation.resume }}
                        </p>
                        <p>
                            <strong>Explication:</strong>
                            {{ formation.explication }}
                        </p>
                        <p>
                            <strong>Durée:</strong>
                            {{ formation.duree }}
                        </p>
                        <p>
                            <strong>Niveau:</strong>
                            {{ formation.niveau }}
                        </p>
                        <p>
                            <strong>Lieu:</strong>
                            {{ formation.lieu }}
                        </p>
                    </div>
                    <div class="card-actions">
                        <a href="{{ path('app_formations_show', {'id': formation.id}) }}">En voir plus</a>
                        <a href="{{ path('app_formations_edit', {'id': formation.id}) }}">Modifier</a>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No records found.</p>
        {% endfor %}
    </div>

{% endblock %}
