{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/show.css') }}">
{% endblock %}


{% block body %}
	<a class="back" href="{{ path('app_formations_index') }}">Retour à l'accueil</a>
	<h1>La Formation :</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Title</th>
				<td>{{ formation.title }}</td>
			</tr>
			<tr>
				<th>Resume</th>
				<td>{{ formation.resume }}</td>
			</tr>
			<tr>
				<th>Explication</th>
				<td>{{ formation.explication }}</td>
			</tr>
			<tr>
				<th>Duree</th>
				<td>{{ formation.duree }}</td>
			</tr>
			<tr>
				<th>Niveau</th>
				<td>{{ formation.niveau }}</td>
			</tr>
			<tr>
				<th>Lieu</th>
				<td>{{ formation.lieu }}</td>
			</tr>
		</tbody>
	</table>

	<div class="button-section">
		<a href="{{ path('app_formations_edit', {'id': formation.id}) }}">Modifier</a>
		{{ include('formations/_delete_form.html.twig') }}
	</div>

{% endblock %}
